<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>FeedWhereNeed</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-geolocation" spec="4.0.1" />
    <plugin name="cordova-plugin-nativestorage" spec="2.3.2" />
    <plugin name="cordova-plugin-sqlite" spec="1.0.3" />
    <plugin name="cordova-plugin-secure-storage" spec="3.0.1" />
    <engine name="android" spec="~7.1.4" />
    <engine name="browser" spec="^5.0.4" />
</widget>
